@mixin buttonStyle {
	outline: none;
	cursor: pointer;
	background-color: #B39CD0;
	color: #F9CBFF;
	font-size: 15px;
	border: none;
	&:hover {
		background-color: #4B4453;
	}
}


body {
	background-image: linear-gradient(to top, #845ec2, #0085e4, #00a2e5, #00b9cc, #00c9a7);
	height: 100vh;
}

.main-container {
	background-color: #FF6F91;
	width: 45%;
	margin: 1% auto;
	padding: 1%;
	-webkit-box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.75);
	h1 {
		color: #FBEAFF;
	}
	form {
		width: 100%;
		display: flex;
		input {
			width: 80%;
			background-color: #845EC2;
			border: none;
			outline: none;
			color: #4B4453;
		}
		button {
			width: 20%;
			@include buttonStyle;
		}
	}
	button {
		@include buttonStyle;
	}
	ul {
		width: 100%;
		padding-left: 0;
		flex-direction: column;
		li {
			max-width: 100%;
			margin: 1% 0;
			background-color: #845EC2;
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			color: #FBEAFF;
			.task-text {
				font-size: 20px;
			}
			.task-buttons { 
				display: flex;
				button {
					display: flex;
					justify-content: center;
					align-content: center;
					@include buttonStyle;
				}
			}

		}
	}
}

.show {
	display: flex;
}
.hide {
	display: none;
}
.done {
	text-decoration: line-through;
	text-decoration-color: #413444;
}